### exclude all assets
/site/assets/cache/*
/site/assets/sessions/*
/site/assets/logs/*
/site/assets/backups/*

### exclude all files
/site/assets/files/*

## keep files of given page (eg language files)
## this is only an example!
#!/site/assets/files/1020

## keep rockshell db dumps
!/site/assets/backups/db.sql

## keep asset folders
!site/assets/*/.htaccess
!site/assets/files/README.txt

## ignore procache
site/assets/ProCache-*
site/assets/pwpc

## ignore custom config files
/site/config-*.php

## ignore updated module backups
/site/modules/.*

## frontend
/node_modules

## ignore ddev folder but keep the config
.ddev
!.ddev/config.yaml

# ignore vscode snippets
.vscode

## ignore admin theme
## will be created by rockless
site/assets/admin.css
